@import "./theme.scss";

.search-result-title {
  color: #238b43;
  font-size: larger;
}

.container {
  //   max-width: 1024px;
  padding: 0 30px;
  margin: 30px auto;
}

/* responsive table */

.responsiveTbl table {
  text-align: center;
  margin: 30px auto;
}

tr {
  color: $secondaryColorDark;
  background: #fff;
  &:nth-child(2n) {
    background: darken(#fff, 5%);
  }
}

th,
td {
  padding: 15px 20px;
  vertical-align: middle;
  &:nth-child(2) {
    text-align: left;
  }
}

th {
  background: $primaryColor;
  color: $secondaryColorDark;
  font-weight: 500;
  text-transform: uppercase;
  padding: 25px 20px;
}

//// responsive

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 6px;
    margin: 12px auto;
  }
  .table {
    margin: 0;
  }
  thead {
    display: none;
  }

  tr {
    margin: 0 0 15px;
    display: block;
  }

  td {
    display: block;
    text-align: left;
    padding: 10px 20px 10px 160px;
    position: relative;

    &:before {
      content: "Invoice ID";
      font-weight: 500;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
    }

    &:nth-of-type(2) {
      &:before {
        content: "Reference";
      }
    }

    &:nth-of-type(3) {
      &:before {
        content: "Maturity Date";
      }
    }

    &:nth-of-type(4) {
      &:before {
        content: "Invoice Amount";
      }
    }

    &:nth-of-type(5) {
      &:before {
        content: "CCY";
      }
    }
    &:nth-of-type(6) {
      &:before {
        content: "Buyer";
      }
    }
    &:nth-of-type(7) {
      &:before {
        content: "Supplier";
      }
    }
    &:nth-of-type(8) {
      &:before {
        content: "Invoice Date";
      }
    }
  }
}
